.flex-row.d-flex.justify-content-center
  .col-md-8
    .card.mt-5
      .card-body
        = simple_form_for @course do |f|
          .form-group
            = f.label :title
            = f.text_field :title, class: 'form-control'
          .form-group
            = f.label :video
          .form-group
            = f.file_field :video
          .form-group
            = f.label :pgn
          .form-group
            = f.file_field :pgn
          .form-group
            = f.input :player_color, collection: Course.player_colors.keys, autocomplete: 'off'
          .form-group
            = f.label :description
            = f.text_area :description, class: 'form-control', rows: 20
          = f.submit class: 'btn btn-outline-primary' do
            = t("Update courses")
          = link_to t("Back"), @course.id.nil? ? courses_path : course_path(@course), class: 'btn btn-outine-secondary'
