<div class="container-fluid mt-3">
  <h3><%= @course.title %></h3>

  <p><%= @course.description %></p>

  <center><%= video_tag url_for(@course.video), :size => "720x405", controls: true %></center>

  <div>
    <ul class="list-group">
      <% @course.chapters.each do |chapter| %>
        <li class="list-group-item list-group-item-primary">
          <%= link_to chapter.title, chapter_path(chapter) %>
        </li>
        <% chapter.stages.each do |stage| %>
          <li class="list-group-item">
            <%= link_to stage.title, stage_path(stage) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <hr>
  <div>
    <%= link_to t('Create Chapter'), new_course_chapter_path(@course), class: 'btn btn-primary' %>
  </div>
  <hr>
  <div class="btn-group">
    <%= link_to t('Edit'), edit_course_path(@course.id), class: 'btn btn-outline-primary' %>
    <%= link_to t('Delete'), course_path(@course), data: { turbo_method: :delete }, class: 'btn btn-outline-danger' %>
    <%= link_to t('Back'), courses_path, class: 'btn btn-outine-secondary' %>
  </div>
</div>